
// asknsolve
$asknsolve_dark: #009245;
$asknsolve_light: #7ac943;

// bootstrap
$bootstrap_default: #777;
$bootstrap_primary: #337ab7;
$bootstrap_success: #5cb85c;
$bootstrap_info: #5bc0de;
$bootstrap_warning: #f0ad4e;
$bootstrap_danger: #d9534f;
