
// asknsolve
$asknsolve_dark: #009245;
$asknsolve_light: #7ac943;

// bootstrap
$bootstrap_default: #777;
$bootstrap_primary: #337ab7;
$bootstrap_success: #5cb85c;
$bootstrap_info: #5bc0de;
$bootstrap_warning: #f0ad4e;
$bootstrap_danger: #d9534f;

// custom bootstrap dark
$bootstrap_info_dark: #40b1d3;
$bootstrap_warning_dark: #d69539;
$bootstrap_danger_dark: #ce4844;

// custom bootstrap
$bootstrap_purple: #5a4181;

// functional names
$gray: $bootstrap_default;
$blue: $bootstrap_primary;
$green: $bootstrap_success;
$aqua: $bootstrap_info;
$orange: $bootstrap_warning;
$red: $bootstrap_danger;
$purple: $bootstrap_purple;
$green_dark: $asknsolve_dark;
$aqua_dark: $bootstrap_info_dark;
$orange_dark: $bootstrap_warning_dark;
$red_dark: $bootstrap_danger_dark;