/* variables */
/* $color: #873fbf; */

/* basic layout */
html { overflow-x: hidden; }
body { background-color: none;}
* {
  box-sizing: border-box;
  outline: none !important;
}

/* please-wait lib */
@import '../../bower_components/spinkit/scss/spinners/1-rotating-plane';
.sk-spinner { background: #fff !important; }
body > .inner { display: none; }
body.pg-loaded > .inner { display: block; }

/* pages without bars */
#page-wrapper.page-no-bars {
  border: none;
  margin: 0;
  padding: 0;
}

/* transitions */
#view.ng-enter { animation: fadeIn .7s; }
