/* --------------------------------------------------------------------------- */
/* variables */
/* --------------------------------------------------------------------------- */
/* $color: #873fbf; */

/* --------------------------------------------------------------------------- */
/* styles */
/* --------------------------------------------------------------------------- */
html { overflow-x: hidden;}
* {
  box-sizing: border-box;
  outline: none !important;
}

#view.ng-enter { animation: fadeIn .7s; }
