
// configs
// -------------------------
@import 'colors';


// user info
// -------------------------
#user-info {
    border-bottom: none !important;
}

    #user-info .user-info-panel { padding: 5px; }
    #user-info .user-info-media { padding-right: 5px; }
    #user-info .user-info-media .media-object { border-radius: 10px; }
    #user-info .user-info-rank { padding-right: 0; }
    #user-info .user-info-media-body {
        color: #666;
        line-height: 32px;
        vertical-align: middle;
        border-bottom: 1px dashed #aaa;
    }
    #user-info .user-info-media-tags {
        line-height: 31px;
        vertical-align: middle;
    }
    #user-info #exp { width: 100%; height: 8px; }
    

// search input
// -------------------------
.sidebar-search {
    padding-top: 10px !important;
}


// nav links
// -------------------------
@mixin navlink($class, $color) {

    .sidebar ul li a.#{$class} {
        color: $color;
        background-color: #f8f8f8 !important;
    }
    .sidebar ul li a.#{$class}:hover {
        // color: #23527c;
        background-color: #eee !important;
    }
    .sidebar ul li a.#{$class}.current {
        color: #fff;
        background-color: $color !important;
    }

    .sidebar ul li a.#{$class} .badge { background-color: $color; }
    .sidebar ul li a.#{$class}.current .badge {
        color: $color;
        background-color: #fff;
    }
}

// selectable colors by class
@include navlink("gray", $gray);
@include navlink("blue", $blue);
@include navlink("green", $asknsolve_dark);
@include navlink("aqua", $aqua_dark);
@include navlink("orange", $orange_dark);
@include navlink("red", $red_dark);
@include navlink("purple", $purple);

// strange fix -> repeated empty links on second level (sb-admin-2.js)
.sidebar .nav-second-level li a:not(.ng-binding) { display: none !important; }
