<div class="row">
    <div style="padding-bottom:30px"></div>
    <div class="visible-md-block visible-lg-block" style="padding-bottom:40px"></div>
    <div class="visible-lg-block" style="padding-bottom:40px"></div>
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Nuevo ticket</div>
                        <div>¿Cuál es el problema?</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="input-group" style="margin-bottom:15px">
                  <span class="input-group-addon" id="basic-addon1">Asunto</span>
                  <input type="text" class="form-control">
                </div>
                <textarea class="form-control" placeholder="Cuéntanos, cuantos más detalles nos proporciones mejor podremos ayudarte." rows="10" style="resize:none"></textarea>
                <button ng-click="createTicket()" style="margin-top:15px" type="button" class="btn btn-primary btn-circle btn-xl center-block"
                    popover="¡Enviar ticket!" popover-trigger="mouseenter" popover-placement="top">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </div>
        
    </div><!-- /.col-lg-12 -->
</div>
<!-- /.row -->