<div class="sidebar-nav navbar-collapse" ng-controller="SidebarCtrl as sidebar">
    <ul class="nav" id="side-menu">
        <li id="user-info">
            <div class="user-info-panel">
                <div class="user-info-media media-left media-middle">
                    <img class="media-object" width="64" height="64" src="images/test/user-pic.png">
                </div>
                <div class="media-body">
                    <div class="user-info-rank media-left media-middle">
                        <img class="media-object" width="64" height="64" src="images/ranks/64/{{user.rank}}.png"
                             tooltip="Nivel {{user.rank}}" tooltip-placement="bottom">
                    </div>
                    <div class="media-body text-center">
                        <div class="user-info-media-body">
                            <span tooltip="{{user.nick}}" tooltip-placement="right">
                                {{user.name}} {{user.surname}}
                            </span>
                        </div>
                        <div class="user-info-media-tags">
                            <span class="label label-default">Novato</span>
                            <span class="label label-primary">20 %</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="exp"></div>
        </li>
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <!-- /.input-group -->
        </li>
        
        <!-- menu-items -->
        <li ng-repeat="item in items">
            <a ng-class="highlightClass('{{item.path}}')" ng-href="{{item.path}}">
                
                <i class="fa fa-{{item.icon}} fa-fw"></i> {{item.name}}
                <span class="pull-right">
                    <span ng-show="item.tag" class="label label-{{item.tag_style}}">{{item.tag}}</span>
                    <span ng-show="item.news > 0" class="badge">{{item.news}}</span>
                </span>
                <span class="fa arrow" ng-if="item.children.length > 0"></span>
                
                <ul class="nav nav-second-level" ng-if="item.children.length > 0">
                    <li ng-repeat="child in item.children">
                        <a ng-class="highlightClass('{{child.path}}')" ng-href="{{child.path}}">
                            <i class="fa fa-{{child.icon}} fa-fw"></i> {{child.name}}
                            <span class="pull-right">
                                <span ng-show="child.tag" class="label label-{{child.tag_style}}">{{child.tag}}</span>
                                <span ng-show="child.news > 0" class="badge">{{child.news}}</span>
                            </span>
                        </a>
                    </li>
                </ul>
                
            </a>
        </li>
        <!-- /menu-items -->
        
    </ul>
</div>
<!-- /.sidebar-collapse -->